<h1>Student Details </h1>
<p><strong>First name:</strong><%= @student.first_name%></p>
<p><strong>Last name:</strong><%= @student.last_name%></p>
<p><strong>Marks:</strong><%= @student.marks%></p>
<%= link_to 'back', students_path %>
