<h1>Appointments</h1>
<table>
<thead>
<tr>
<th>Doctor</th>
<th>Patient</th>
<th>Appointment Date</th>
</tr>
</thead>
<tbody>
<% @appointments.each do |appointment| %>
<tr>
<td><%= appointment.doctor.name %></td>
<td><%= appointment.patient.name %></td>
<td><%= appointment.appointment_date %></td>
</tr>
<% end %>
</tbody>
</table>
<%= link_to 'New Appointment', new_appointment_path %>
